# IDE
.vs/
.idea/
*.suo
*.user

# Build
bin/
obj/

# Outras caches
*.cache
*.vsidx
/dddnetcore/bin/
/dddnetcore/.vs/

# Ignorar dependências
node_modules/
**/node_modules/

# Ignorar builds
dist/
build/

# Ignorar variáveis de ambiente (SEGURANÇA!)
.env