<div class="management-container">
    <div class="sidebar-list">
        <div class="list-header">
            <h3>{{ 'MENU.SHIPPING_AGENT_ORGANIZATIONS' | translate }}</h3>

            <div class="actions">
                <button (click)="startCreate()">+</button>
                <button (click)="loadOrganizations()" [disabled]="isLoading">
                    <span *ngIf="!isLoading">↻</span>
                    <span *ngIf="isLoading">...</span>
                </button>
            </div>
        </div>

        <div class="list-items">
            <div *ngIf="isLoading" class="loading-message">
                {{ 'COMMON.LOADING' | translate }}...
            </div>

            <div *ngFor="let org of organizations"
                 class="active-rep"
                 [class.selected]="selectedOrganization?.id === org.id"
                 (click)="selectOrganization(org)"
            >
                {{ org.legalName }} ({{ org.altName }})
            </div>

            <div *ngIf="!organizations.length && !isLoading" class="no-data">
                {{ 'COMMON.NO_DATA' | translate }}
            </div>
        </div>
    </div>

    <div class="details-form">
        <form (ngSubmit)="save()">

            <div class="form-group" [ngClass]="{ 'has-error': errorField.includes('legalName') }">
                <label>{{ 'SHIPPING_AGENT_ORGANIZATION.LEGAL_NAME' | translate }}:</label>
                <input 
                    type="text" 
                    [(ngModel)]="formModel.legalName" 
                    name="legalName" 
                    required.
                    [disabled]="currentFormMode === 'view'">
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': errorField.includes('altName') }">
                <label>{{ 'SHIPPING_AGENT_ORGANIZATION.ALTERNATIVE_NAME' | translate }}:</label>
                <input 
                    type="text" 
                    [(ngModel)]="formModel.altName" 
                    name="altName" 
                    required 
                    [disabled]="currentFormMode === 'view'">
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': errorField.includes('address') }">
                <label>{{ 'SHIPPING_AGENT_ORGANIZATION.ADDRESS' | translate }}:</label>
                <input 
                    type="text" 
                    [(ngModel)]="formModel.address" 
                    name="address" 
                    required 
                    [disabled]="currentFormMode === 'view'">
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': errorField.includes('taxNumber') }">
                <label>{{ 'SHIPPING_AGENT_ORGANIZATION.TAX_NUMBER' | translate }}:</label>
                <input 
                    type="number" 
                    [(ngModel)]="formModel.taxNumber" 
                    name="taxNumber" 
                    required 
                    [disabled]="currentFormMode === 'view'">
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': errorField.includes('representatives') }">
                <label>{{ 'MENU.REPRESENTATIVES' | translate }}:</label>

                <div class="dock-management-row">
                    <select 
                        [(ngModel)]="selectedRepInOrg" 
                        name="selectedRepInOrg" 
                        size="3" 
                        class="dock-list-select" 
                        [disabled]="currentFormMode === 'view' 
                            || !formModel.representatives 
                            || formModel.representatives.length === 0">
                        <option *ngFor="let repId of formModel.representatives" [value]="repId">
                            {{ getRepName(repId) }}
                        </option>
                    </select>

                    <button 
                        type="button"
                        class="remove-dock-button"
                        (click)="removeRepresentative()"
                        [disabled]="!selectedRepInOrg"
                    >
                        {{ 'BUTTON.REMOVE' | translate }}
                    </button>
                </div>

                <div class="dock-management-row">
                    <select 
                        [(ngModel)]="repToAddId" 
                        name="repToAddId" 
                        [disabled]="currentFormMode === 'view' || representativesForAdd.length === 0">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let rep of representativesForAdd" [value]="rep.id">
                            {{ rep.name }}
                        </option>
                    </select>

                    <button 
                        type="button"
                        class="add-dock-button"
                        (click)="addRepresentative()"
                        [disabled]="!repToAddId"
                    >
                        {{ 'BUTTON.ADD' | translate }}
                    </button>
                </div>
            </div>

            <div class="feedback-message"
                [class.success]="feedbackMessage.type === 'success'"
                [class.error]="feedbackMessage.type === 'error'"
                *ngIf="feedbackMessage.text"
                [innerHTML]="feedbackMessage.text">
            </div>

            <div class="form-actions">
                <button type="submit" [disabled]="isSubmitting">
                    {{ currentFormMode === 'create' ? 'Create' : 'Update' }}
                </button>
            </div>
        </form>
    </div>
</div>